.prod-list{
    box-shadow: 4px 4px 8px rgb(207, 204, 204);
    width: 23%;
    list-style-type: none;
    margin-left: 4.2rem;
    border-radius: 5px;
    height: 21em;
}
.prod-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
}
.buy{
    margin-left: 0em;
}
.rate{
    margin-bottom: 1em;
}
li button{
    height: 2em;
    width: 5em;
    background-color: rgba(233, 168, 38, 0.894);
    border: none;
    border-radius: 3px;
}
.remove{
    margin-left: 8em;
    margin-top: -1.7em;
}
.remove button:active{
    background-color: rgba(234, 40, 40, 0.853);
    color: rgb(39, 119, 43);
    transition: 0.015s;
}
.empty-cart img{
    width: 27.5em;
}
.empty-cart{
    margin-left: 25em;
    margin-top: 5em;
}
.empty-msg{
    margin-left: 33.7em;
}
h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: red;
}
.home{
    border: 1px solid goldenrod;
    background-color: transparent;
    margin-left: 41.6em;
    height: 2em;
    width: 8em;
    color: rgb(216, 172, 61);
}
.home:hover{
    border: 1px solid gold;
    transition: 0.7s;
    color: rgba(240, 205, 11, 0.825);
    box-shadow: 2px 2px 1px 2.1px rgb(248, 247, 247);
}