<div class="container">
    <div class="logo">
        <img src="..\assets\—Pngtree—online shop logo design icon_4825247.png" alt="">
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="user" class="form">
        <input class="username" placeholder="username" formControlName="username">
    </div>
    <ng-container *ngIf="form.get('username')?.errors && form.get('username')?.touched 
    || form.get('username')?.dirty && form.get('username')?.errors"><div [ngStyle]="style" style="font-size: 12px;font-variant: small-caps;">
    username is required or invalid</div></ng-container>
    <div class="passwrd" class="form" id="userpass">
        <input class="pass" placeholder="password" formControlName="pass">
    </div>
    <ng-container *ngIf="form.get('pass')?.errors && form.get('pass')?.dirty 
    || form.get('pass')?.touched && form.get('pass')?.errors"><div [ngStyle]="style" style="font-size: 12px;font-variant: small-caps;">
    password is required or invalid</div></ng-container>
    <div class="login" class="form" id="log">
        <button type="submit">Login</button> 
    </div>
    <div id="signin" class="form">
        Don't have an account? <a routerLink="userSignUp">Sign in.</a>
    </div>
</form>
</div>
