<div class="prod-container">
    <ul *ngFor="let key of products;let i=index" class="prod-list">
    <li><img [src]="key.img" alt="prod-img"></li>
    <li style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;font-weight: bold;">Name : {{key.name}}</li>
    <li class="rate" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;">Rate : ₹{{key.rate}}</li>
<li class="buy"><button type="button" (click)="buyProduct(key)">buy</button></li>
<li class="add"><button type="button" (click)="addItem(key)">add cart</button></li></ul>
</div>
