.logo img{
    height: 100px;
    width: 100px;
    margin-top: 0.3em;
    border-radius: 50%;
}
.logo{
    width: 100px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: gold;
    border-radius: 10px;
    position: sticky;
    top:0px;
}
.search{
    width: 22.3rem;
    height: 2rem;
    margin-left: 15em;
}
input{
    height: 2rem;
    width: 16rem;
    margin-top: 0;
    outline: none;
    border: none;
    border-radius: 3px;
    margin-left: 1rem;
    background-color: rgb(252, 245, 245);
    text-indent: 1.5em;
}
.search button{
    height: 2rem;
    margin-top: -0.2em;
    border: none;
    background-color: dodgerblue;
    width: 3.7rem;
    border-radius: 2px;
    color: white;
    margin-left: 1.5rem;
    cursor: pointer;
}
.search button:hover{
    background-color: darkblue;
}
input::placeholder{
    text-indent: 1.5em;
}
.login button{
    height: 2rem;
    margin-top: -0.2em;
    border: none;
    background-color: transparent;
    width: 4rem;
    border-radius: 3.4px;
    color: rgb(13, 12, 12);
    margin-left: 1.5rem;
    cursor: pointer;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login button:hover{
    background-color: rgb(67, 67, 240);
    color: white;
}
.cart-logo img{
    height: 1.5em;
    width: 3em;
}
.cart button{
    margin-left: -5rem;
    height: 2rem;
    border: none;
    width: 3.7rem;
    border-radius: 3.4px;
    color: rgb(13, 12, 12);
    background-color: transparent;
    cursor: pointer;
    font-size: 1.1em;
}
.cart button:hover{
    color: rgb(133, 23, 236);
    font-weight: bold;
    font-family: sans-serif;
    font-size: large;
}
.products{
    height: 5em;
    border-radius: 5px;
    box-shadow: 4px 4px 6px 5px rgb(233, 228, 228);
    margin-top: 0.3em;
    position: sticky;
    top: 6.8em;
    background-color: white;
}
.products nav{
    display: flex;
    margin-left: 3em;
    padding-top: 3em;
}
a{
    text-decoration: none;
    margin-left: 9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
    cursor: pointer;
    color: rgb(249, 14, 61);
}
.prod-list{
    box-shadow: 4px 4px 8px rgb(207, 204, 204);
    width: 23%;
    list-style-type: none;
    margin-left: 4.2rem;
    border-radius: 5px;
    height: 21em;
}
.prod-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
}
.buy{
    margin-left: 0em;
}
.add{
    margin-left: 8em;
    margin-top: -1.65em;
}
.rate{
    margin-bottom: 1em;
}
li button{
    height: 2em;
    width: 5em;
    background-color: rgba(233, 168, 38, 0.894);
    border: none;
    border-radius: 3px;
}
.add button:active{
    background-color: rgba(252, 142, 7, 0.911);
    color: rgb(244, 7, 7);
    transition: 0.015s;
}
@media screen and (max-width:1180px){
    .logo img{
        height: 75px;
        width: 75px;
        margin-top: 0.3em;
        border-radius: 50%;
    }
    .logo{
        width: 75px;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: gold;
        border-radius: 10px;
        position: sticky;
        top:0px;
    }
    .search{
        width: 22.3rem;
        height: 2rem;
        margin-left: 10em;
    }
    input{
        height: 2rem;
        width: 10rem;
        margin-top: 0;
        outline: none;
        border: none;
        border-radius: 3px;
        margin-left: 1rem;
        background-color: rgb(252, 245, 245);
        text-indent: 1.5em;
    }
    .search button{
        height: 2rem;
        margin-top: -0.2em;
        border: none;
        background-color: dodgerblue;
        width: 3.2rem;
        border-radius: 2px;
        color: white;
        margin-left: 1.5rem;
        cursor: pointer;
    }
    .search button:hover{
        background-color: darkblue;
    }
    input::placeholder{
        text-indent: 1.5em;
    }
    .login button{
        height: 2rem;
        margin-top: -0.2em;
        border: none;
        background-color: transparent;
        width: 3.2rem;
        border-radius: 3.4px;
        color: rgb(13, 12, 12);
        margin-left: -4rem;
        cursor: pointer;
        font-size: large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .cart-logo img{
        height: 1.5em;
        width: 3em;
    }
    .cart button{
        margin-left: -2.6rem;
        height: 2rem;
        border: none;
        width: 3.7rem;
        border-radius: 3.4px;
        color: rgb(13, 12, 12);
        background-color: transparent;
        cursor: pointer;
        font-size: 1.1em;
    }
    .cart button:hover{
        color: rgb(133, 23, 236);
        font-weight: bold;
        font-family: sans-serif;
        font-size: large;
    }
    .products{
        height: 3.5em;
        border-radius: 5px;
        box-shadow: 4px 4px 6px 5px rgb(233, 228, 228);
        margin-top: 0.3em;
        position: sticky;
        top: 5.3em;
        background-color: white;
    }
    .products nav{
        display: flex;
        margin-left: 1em;
        padding-top: 1em;
    }
    a{
        text-decoration: none;
        margin-left: 5em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    a:hover{
        cursor: pointer;
        color: rgb(249, 14, 61);
    }
    .prod-list{
        box-shadow: 4px 4px 8px rgb(207, 204, 204);
        width: 33%;
        list-style-type: none;
        margin-left: 4.2rem;
        border-radius: 5px;
        height: 21em;
    }
    .prod-container{
        display: flex;
        flex-wrap: wrap;
        margin-top: 2em;
    }
    .buy{
        margin-left: 0em;
    }
    .add{
        margin-left: 8em;
        margin-top: -1.65em;
    }
    .rate{
        margin-bottom: 1em;
    }
    li button{
        height: 2em;
        width: 5em;
        background-color: rgba(233, 168, 38, 0.894);
        border: none;
        border-radius: 3px;
    }
    .add button:active{
        background-color: rgba(252, 142, 7, 0.911);
        color: rgb(244, 7, 7);
        transition: 0.015s;
    }
}
